---
layout: default 
---

<div class="index-top-section mdl-typography--text-center mdl-grid">
<div class="mdl-cell mdl-cell--8-col">
  <img class="dekk-logo-image" src="{{ '/img/logo-light.png'' | prepend: site.baseurl }}">
  <div class="promo-text">
    Hos Smart Dekk hjelper vi deg å velge det riktige dekket
    <br>
    <br> Vårt hovedfokus er din trygghet, uansett hvilket føre du kjører på.
    <br> Vi fører alle de kjente merkene og vil alltid anbefale deg det beste
    <br> dekket i forhold til bil, behov og økonomi.
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
  <div class="kontakt-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h3>Åpningstider</h3>
      <p>
        man-fre: 09-18 lør: 10-14
      </p>
    </div>
    <hr>
    <div class="mdl-card__supporting-text">
      <h3>Kontakt</h3>
      <h5>Tlf: 55 91 00 54</h5>
      <form action="//formspree.io/post@smartdekk.no" method="POST">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" name="telefon/eporst" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Telefon eller epost</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" name="melding" type="text" rows="3" id="sample5"></textarea>
          <label class="mdl-textfield__label" for="sample5">Din melding</label>
        </div>
        <div class="mdl-card__actions">
          <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" value="Send Melding">
          </input>
        </div>
      </form>
    </div>

  </div>
</div>
</div>
<div class="dekk-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="dekk-header-spacer mdl-layout-spacer"></div>
    <!-- Navigation -->
    <div class="dekk-navigation-container">
      <nav class="dekk-navigation mdl-navigation">
      {% include links.html %}
      </nav>
    </div>
  </div>
</div>

<div class="dekk-more-section">
  <div class="dekk-card-container mdl-grid">
    {% include tilbud/tilbud1.html %} 
    {% include tilbud/tilbud1.html %} 
    {% include tilbud/tilbud1.html %} 
    {% include tilbud/tilbud1.html %}
  </div>
</div>

<div class="dekk-hotell-section">
  <div class="dekk-hotell-band">
    <div class="dekk-hotell-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">Vi tar vare på dine dekk</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        Fem stjerners dekkhotell.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase dekk-alt-link" href="{{ '/dekkhotell'' | prepend: site.baseurl }}">
                  Sjekk ut vårt dekkhotell&nbsp;<i class="material-icons">chevron_right</i>
                </a>
      </p>
    </div>
  </div>
</div>

<div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe width="100%" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJd9GbU3f5PEYRVA2nkzcVWo0&key=AIzaSyAQnQY5WIPPGOTn2tki8ZTSie2VjoGhsV8&zoom=16"
allowfullscreen></iframe>