<ul class="mdl-list article-list">
  <li class="mdl-list__item mdl-list__item--three-line">
    <img src="{{ '/img/vinter.jpg'' | prepend: site.baseurl }}" alt="" height="90px">
    <span class="mdl-list__item-primary-content">
      <span>Dekk når det ikke er sommer</span>
    <span class="mdl-list__item-text-body">
        Vinterdekk er gode å ha da masse bra bra lala la lakssjd ehbfjsdnfndsfdsakfsaknfkjsdnafkjsn info info info
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <img src="{{ '/img/vinter.jpg'' | prepend: site.baseurl }}" alt="" height="90px">
    <span class="mdl-list__item-primary-content">
      <span>Dekk når det ikke er sommer</span>
    <span class="mdl-list__item-text-body">
        Vinterdekk er gode å ha da masse bra bra lala la lakssjd ehbfjsdnfndsfdsakfsaknfkjsdnafkjsn info info info
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line">
    <img src="{{ '/img/vinter.jpg'' | prepend: site.baseurl }}" alt="" height="90px">
    <span class="mdl-list__item-primary-content">
      <span>Dekk når det ikke er sommer</span>
    <span class="mdl-list__item-text-body">
        Vinterdekk er gode å ha da masse bra bra lala la lakssjd ehbfjsdnfndsfdsakfsaknfkjsdnafkjsn info info info
      </span>
    </span>
  </li>
</ul>
