<b>Merker vi fører:</b><br>
<img src="{{ '/img/dekk-logoer/dunlop_logo.gif' | prepend: site.baseurl }}" alt="dunlop-logo">
<img src="{{ '/img/dekk-logoer/Falken_blaueschrift.png' | prepend: site.baseurl }}" alt="Falken_blaueschrift">
<img src="{{ '/img/dekk-logoer/federal.bmp' | prepend: site.baseurl }}" height="30px" alt="federal">
<img src="{{ '/img/dekk-logoer/minerva.jpg' | prepend: site.baseurl }}" alt="minerva">
<img src="{{ '/img/dekk-logoer/pirelli.png' | prepend: site.baseurl }}" height="45px" alt="pirelli">
<img src="{{ '/img/dekk-logoer/rsz_1continental-logo.jpg' | prepend: site.baseurl }}" height="110px" alt="continental-logo">
<img src="{{ '/img/dekk-logoer/rsz_1cooper_logo.jpg' | prepend: site.baseurl }}" height="50px" alt="cooper_logo">
<img src="{{ '/img/dekk-logoer/rsz_goodyear_blue_yello_logo__high-res_image-v1_0.jpg' | prepend: site.baseurl }}" height="40px" alt="goodyear-logo">
<img src="{{ '/img/dekk-logoer/rsz_logo_vredestein.jpg' | prepend: site.baseurl }}" height="40px" alt="vredestein-logo">
<img src="{{ '/img/dekk-logoer/rsz_michelinlogo.jpg' | prepend: site.baseurl }}" height="70px" alt="michelin-logo">
<img src="{{ '/img/dekk-logoer/rsz_nokian_nega.jpg' | prepend: site.baseurl }}" height="40px" alt="nokian nega-logo">
<img src="{{ '/img/dekk-logoer/sailun.jpg' | prepend: site.baseurl }}" height="40px" alt="sailun-logo">