<footer class="dekk-footer mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading dekk-footer-headding">Addresse</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>Smart Dekk AS</li>
        <li>Org nr: 916 682 530</li>
        <li>Straumeveien 20</li>
        <li>5152 Bergen</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading dekk-footer-headding">Kontakt</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><b>Telefon:</b>  55 91 00 54</li>
        <li><b>Epost:</b> post@smartdekk.no</li>
      </ul>
    </div>
<div class="mdl-mega-footer__drop-down-section">
  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
  <h1 class="mdl-mega-footer__heading dekk-footer-headding">Linker</h1>
  <ul class="mdl-mega-footer__link-list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Hjem</a></li>
    <li> <a href="http://smartdekk.dekkshop.no/">Nettbutikk</a> </li>
    <li><a href="{{ '/sommerdekk' | prepend: site.baseurl }}">Sommerdekk</a></li>
    <li><a href="{{ '/vinterdekk' | prepend: site.baseurl }}">Vinterdekk</a></li>
    <li><a href="{{ '/felg' | prepend: site.baseurl }}">Felger</a></li>
    <li><a href="{{ '/dekkhotell' | prepend: site.baseurl }}">Dekkhotell</a></li>
    <li><a href="{{ '/om-oss' | prepend: site.baseurl }}">Om Oss</a></li>
  </ul>
</div>
    <div class="mdl-mega-footer__bottom-section">
  <div class="fb-page" data-href="https://www.facebook.com/smartdekk" data-width="340" data-hide-cover="false" data-show-facepile="true"></div>
</div>
  </div>

  <div class="mdl-mega-footer__bottom-section">
    <p class="mdl-typography--font-light">Smart Dekk AS © 2016</p>
    <p class="mdl-typography--font-light">Nettside laget av <a class="cluda-link" href="http://cluda.com">Cluda AS</a></p>
  </div>

</footer>
