<footer class="dekk-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <img src="{{ '/img/logo-light.png' | prepend: site.baseurl }}" style="height: 100px;" alt="logo">
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light">Smart Dekk AS © 2016</p>
    <p class="mdl-typography--font-light">Nettside laget av <a href="http:/cluda.com">Cluda AS</a></p>
  </div>

 
</footer>