<footer class="dekk-footer mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section" style="width:33.333333%;">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading dekk-footer-headding">Addresse</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>Smart Dekk AS</li>
        <li>Org nr: 916 682 530</li>
        <li>Straumeveien 20</li>
        <li>5152 Bergen</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section" style="width:33.333333%;">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading dekk-footer-headding">Kontakt</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><b>Telefon:</b>  55 91 00 54</li>
        <li><b>Epost:</b> post@smartdekk.no</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section" style="width:33.333333%;">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading dekk-footer-headding">Linker</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Sommerdekk</a></li>
        <li><a href="#">Vinterdekk</a></li>
        <li><a href="#">Fleger</a></li>
        <li><a href="#">Felgpakker</a></li>
        <li><a href="#">Dekkhotell</a></li>
        <li><a href="#">Om Oss</a></li>
      </ul>
    </div>
  </div>

  <div class="mdl-mega-footer__bottom-section">
    <p class="mdl-typography--font-light">Smart Dekk AS © 2016</p>
    <p class="mdl-typography--font-light">Nettside laget av <a href="http:/cluda.com">Cluda AS</a></p>
  </div>

</footer>