<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ '/' | prepend: site.baseurl }}">Hjem</a>
<a class="mdl-navigation__link mdl-typography--text-uppercase" href="http://smartdekk.dekkshop.no/">Nettbutikk</a>
<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ '/sommerdekk' | prepend: site.baseurl }}">Sommerdekk</a>
<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ '/vinterdekk' | prepend: site.baseurl }}">Vinterdekk</a>
<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ '/felg' | prepend: site.baseurl }}">Felger</a>
<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ '/dekkhotell' | prepend: site.baseurl }}">Dekkhotell</a>
<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ '/om-oss' | prepend: site.baseurl }}">Om Oss</a>

