<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp pakketilbud">
  <div class="mdl-card__media tilbud-bilde">
    <img src="{{ '/img/hjulSkift.jpg' | prepend: site.baseurl }}">
  </div>
  <div class="mdl-card__title mdl-card--border">
    <h4 class="mdl-card__title-text ">Hjulskift</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">Book time nå</span>
  </div>
  <div class="mdl-card__actions">
    <p class="dekk-link mdl-typography--text-uppercase">
      fra kr. 399,-
    </p>
  </div>
</div>

<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp pakketilbud">
  <a class="tilbudslink" href="{{ '/dekkhotell' | prepend: site.baseurl }}">
    <div class="mdl-card__media tilbud-bilde">
      <img src="{{ '/img/tilbud/dekkhotell.png' | prepend: site.baseurl }}">
    </div>
    <div class="mdl-card__title mdl-card--border">
      <h4 class="mdl-card__title-text ">Ledig dekkhotell</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">Vi har ledig på plasser! </span>
    </div>
    <div class="mdl-card__actions">
      <p class="dekk-link mdl-typography--text-uppercase">
        fra kr. 995,-
      </p>
    </div>
  </a>
</div>

<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp pakketilbud">
  <div class="mdl-card__media tilbud-bilde">
    <img src="{{ '/img/tilbud/th-ed2.jpg' | prepend: site.baseurl }}">
  </div>
  <div class="mdl-card__title mdl-card--border">
    <h4 class="mdl-card__title-text ">Pakketilbud</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">17" PH edition 2 turbin med dekk</span>
  </div>
  <div class="mdl-card__actions">
    <p class="dekk-link mdl-typography--text-uppercase">
      fra kr. 7 495,-
    </p>
  </div>
</div>

<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp pakketilbud">
  <div class="mdl-card__media tilbud-bilde">
    <img src="{{ '/img/tilbud/zennen.jpg' | prepend: site.baseurl }}">
  </div>
  <div class="mdl-card__title mdl-card--border">
    <h4 class="mdl-card__title-text ">Pakketilbud</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">18" Zennen Zp6 med dekk</span>
  </div>
  <div class="mdl-card__actions">
    <p class="dekk-link mdl-typography--text-uppercase">
      fra kr. 8 495,-
    </p>
  </div>
</div>