<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
  <div class="mdl-card__media">
    <img src="/img/felg1.jpg">
  </div>
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Pakke tilbud</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">Tre felger og to dekk til prisen av to</span>
  </div>
  <div class="mdl-card__actions">
    <a class="dekk-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Sjekk tilbudet
                   <i class="material-icons">chevron_right</i>
                 </a>
  </div>
</div>