<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="mdl-layout mdl-js-layout">
    <div class="dekk-content mdl-layout__content">
      <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mobile-menu">
          <div class="mdl-layout__header-row mobile-menu-row">
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="tel:55910054">Ring oss nå! 55 91 00 54</a>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title"><img class="dekk-logo-image-sidebar" src="{{ '/img/logo-light.png' | prepend: site.baseurl }}"></span>
          <nav class="mdl-navigation">
            {% include links.html %}
          </nav>
        </div>
        <main class="mdl-layout__content">
          {{ content }} 
          {% include footer.html %}
        </main>
      </div>
    </div>
  </div>

<script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1517316898553926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>